.footer {
  height: 320px;
  padding-top: 65px;

  display: flex;
  gap: 120px;
  opacity: 0px;
  background-color: #e4e1f6;
  padding-left: 180px;
  background-color: #d0cde7;
}

.social {
  width: 308.22px;

  gap: 5px;
  opacity: 0px;
}
.social-icons li {
  list-style: none;
}
.company {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #554a98;
}

.footer-head {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-names {
  list-style: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.copyright-footer {
  background-color: #d0cde7;
  display: flex;
  flex-direction: column;
}

.hori-line {
  border: none; /* Remove the default border */
  border-top: 2px solid #333; /* Add a 2px top border in a dark color */
  width: 89%; /* Set the width of the line */
  /* Center align and add vertical spacing */

  opacity: 0.7;
  margin-left: 160px;
}

.copyrights {
  font-family: "poppins", sans-serif;
  font-size: 16.09px;
  font-weight: 400;
  line-height: 24.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
