.latest-articles {
  background-color: #e4e1f6;
  padding-bottom: 50px;
}

.article-heading {
  font-family: Poppins;
  font-size: 44.97px;
  font-weight: 700;
  line-height: 67.45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #554a98;
  padding-left: 200px;
  padding-top: 150px;
}

.article-list {
  display: flex;
  gap: 20px;
  margin-left: 200px;
  padding-top: 50px;
  justify-content: space-between;
  padding-right: 100px;
}
