.course-tags {
}

.all-courses li {
  width: Hug (185px) px;
  height: Hug (44px) px;
  padding: 8px 20px;
  gap: 12px;
  border-radius: 28px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
  display: flex;

  font-family: "poppins", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Poppins;
  color: #554a98;
  border: 0.98px solid #000000;
}

.c-icon {
  padding-top: 2.5px;
}
