.input-box {
  width: 723.51px;
  height: 973.55px;
  top: -0.95px;
  left: -38.03px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.email {
  margin-top: 130px;
  display: flex;
  padding-left: 100px;
  justify-content: space-between;
  padding-right: 280px;
}
.input-name {
  font-family: Poppins;
  font-size: 33.28px;
  font-weight: 900;
  line-height: 49.91px;
  text-align: left;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #554a98;
  position: absolute;
  padding-left: 50px;
}

.input-logo {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-left: 210px;
}

.input-heading {
  font-family: "Open", sans-serif;
  font-size: 45.64px;
  font-weight: 400;
  line-height: 62.15px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
}

.name-input,
.email-input {
  width: 610.7px;
  height: 78.91px;
  top: 193px;
  left: 39.93px;
  gap: 0px;
  border-radius: 11.41px;
  opacity: 0px;
  background-color: #dad3ff;
  border: none;
  font-family: Poppins;
  font-size: 20.06px;
  font-weight: 400;
  line-height: 30.13px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #303030;
  padding-left: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 90px;
  margin-top: 50px;
}

.ph-input {
  display: flex;

  gap: 20px;
}

.ph1 {
  width: 50px;
  height: 42px;
  padding: 19.01px;
  gap: 9.51px;
  border-radius: 11.41px;
  opacity: 0px;
  background-color: #dad3ff;
  border: none;
  text-align: center;
  font-family: Poppins;
  font-size: 21.95px;
  font-weight: 400;
  line-height: 32.95px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.ph2 {
  width: 500px;
  gap: 0px;
  border-radius: 11.41px;
  border: none;
  opacity: 0px;
  padding-left: 20px;
  background-color: #dad3ff;

  font-family: Poppins;
  font-size: 20.06px;
  font-weight: 400;
  line-height: 30.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.message-input {
  width: 610.7px;
  height: 80.48px;

  border-radius: 11.41px;
  opacity: 0px;
  border: none;
  background-color: #dad3ff;
  font-family: Poppins;
  font-size: 20.06px;
  font-weight: 400;
  line-height: 30.13px;
  padding-left: 20px;
  padding-top: 20px;
}

.input-btn {
  width: Fixed (642.7px) px;
  height: Hug (58.01px) px;
  top: 644.6px;
  left: 39.93px;
  padding: 9.51px 38.03px 9.51px 38.03px;
  gap: 9.51px;
  border-radius: 16.16px;
  opacity: 0px;
  background-color: #554a98;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 26.26px;
  font-weight: 400;
  line-height: 39.42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.input-btn:hover {
  background-color: white;
  border: 2px solid #554a98;
  color: #554a98;
  cursor: pointer;
  box-shadow: 1px 1px 1px 2px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.company-email {
  font-family: "Open", sans-serif;
  font-size: 19.01px;
  font-weight: 400;
  line-height: 25.89px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.company-num {
  font-family: Open Sans;
  font-size: 19.01px;
  font-weight: 400;
  line-height: 25.89px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  gap: 10px;

  align-items: center;
  margin-top: 15px;
}

.com-location {
  font-family: Open Sans;
  font-size: 19.01px;
  font-weight: 400;
  line-height: 25.89px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.vertical-line {
  width: 1px; /* Width of the line */
  height: 840px; /* Height of the line */
  background-color: grey; /* Color of the line */
  margin: 0 auto;

  /* Center the line horizontally */
}

.st-pic {
  width: 645.55px;
  height: 830.55px;

  gap: 0px;
  opacity: 0px;
}
