.latest-heading {
  font-family: Poppins;
  font-size: 41.26px;
  font-weight: 600;
  line-height: 61.89px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #554a98;
  padding-left: 70px;
  padding-top: 90px;
}

.news-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
