.overall-container {
  width: 533px;

  left: 108px;
  gap: 0px;
  opacity: 0px;
  height: 78.4px;
  background-color: #dad3ff;
  border-radius: 0 0 0px 5px;
}

.rating-heading {
  font-family: Poppins;
  font-size: 29.89px;
  font-weight: 400;
  line-height: 44.83px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #554a98;
  padding-left: 32px;
  margin-bottom: 20px;
}

.component-rate {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}

.overall-rate {
  margin-bottom: 20px;
  width: Fixed (63px) px;
  height: Hug (37.07px) px;
  margin-top: 0;
  padding: 1.54px 15.37px 1.54px 15.37px;
  gap: 7.68px;
  border-radius: 11.52px;
  opacity: 0px;
  background-color: #554a98;
  color: white;
  font-family: Poppins;
  font-size: 22.96px;
  font-weight: 400;
  line-height: 34.44px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.bar {
  height: 20px;
  width: 90%;
  background-color: #7a6ad7;

  border-radius: 9999px;
  margin-top: 9px;
}

.rating-name {
  font-family: Poppins;
  font-size: 21.69px;
  font-weight: 400;
  line-height: 32.54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 32px;
}

.percentage {
  font-family: Poppins;
  font-size: 21.69px;
  font-weight: 400;
  line-height: 32.54px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 5px;
}
